body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://media.istockphoto.com/id/1273511102/photo/determine-those-goals-then-get-them-done.jpg?s=612x612&w=0&k=20&c=8NN6hZxlioWuWM7IlfrhjalSaDnVo3Wbv3s0Ocq77qo=");
    background-size: 100% 100%;
}



.task-manager {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
}

button {
    cursor: pointer;
