<!DOCTYPE html>
<html lang="en" ng-app="TaskListApp">
<head>
    <meta charset="UTF-8">
    <title>Dynamic Task List Manager</title>
    <link rel="stylesheet" href="task1.css">
</head>
<body ng-controller="TaskListController">
    <div id="task-manager">
        <h1>Task List Manager</h1>
        <form ng-submit="addTask()">
            <input type="text" ng-model="newTask" placeholder="Add a new task" required>
            <button type="submit">Add Task</button>
        </form>
        <ul>
            <li ng-repeat="task in tasks">
                <span>{{ task }}</span>
                <button ng-click="editTask($index)">Edit</button>
                <button ng-click="deleteTask($index)">Delete</button>
            </li>
        </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="task1.js"></script>
</body>
</html>
s